.class1 ul li {
	list-style: none;
	padding: 5px;
	display: inline-block;
	margin-top: 0px;
	font-size: 12px;
	color: white;

}

.class1{
	background-color: black;
	height: 30px;
}

.droite{
	float: right;
	color: black;
	margin-right: 10%;
}
	
.orange {
	background-color: orange;
}

.class2 ul li {
	list-style: none;
	display: inline-block;
	color: lightgrey;
	border-bottom: solid;

}

.droite1 {
	float: center;
	margin-left: 10%;
	display: inline-block;
}

.droite2{
	float: right;
	margin-right: 120px; 
}

.class3{
	font-size: 40px;
	text-align: center;
	padding: 15px;
}

.class3 img{
	width: 20%;
	height: 20%;
}

.class3 ul li{
	list-style: none;
	font-size: 12px;
	display: inline-block;
	padding: 5px;
	
}

.class4 {
	padding: 5px;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
}

.inter{
	border-top: solid;
	border-color: blue;
}

.politique{
	border-top: solid;
	border-color: purple;
}

.societe{
	border-top: solid;
	border-color: red;
}

.eco{
	border-top: solid;
	border-color: orange;
}

.culture{
	border-top: solid;
	border-color: pink;
}

.idees{
	border-top: solid;
	border-color: darkpink;
}

.planete{
	border-top: solid;
	border-color: lightgreen;
}

.sport{
	border-top: solid;
	border-color: darkgreen;
}

.sciences{
	border-top: solid;
	border-color: lightblue;
}

.pixels{
	border-top: solid;
	border-color: cyan;
}

.campus{
	border-top: solid;
	border-color: orange;
}

.M{
	border-top: solid;
	border-color: black;
}

.class4_1{
	padding: 5px;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;	
	background-color: black;
	color: white;
}

.EN{
	background-color: red;
	font-weight: bold;
	color: white;
}

.Alep{
	color: blue;
	font-weight: bold;
	font-size: 30px;
}

.appel{
	float: right;
	margin-top: 50px;
	margin-left: -100px;
	margin-right: -70px;
	display: inline-block;
	color: white;
	background-color: red;
}

.black{
	float: right;
	margin-top: -20px;
	margin-left: -100px;
	margin-right: -300px;
	display: inline-block;
	background-color: black;
	color: black;
}

.white{
	float: right;
	margin-top: -20px;
	margin-left: -100px;
	margin-right: -500px;
	display: inline-block;
	background-color: white;
	color: white;
}

.smart{
	float: right;
	margin-top: 20px;
	margin-left: -100px;
	margin-right: -100px;
	display: inline-block;
	background-color: white;
	color: black;
	font-weight: bold;
}

.smart2{
	float: right;
	margin-top: 2px;
	margin-left: -100px;
	margin-right: -100px;
	display: inline-block;
	background-color: white;
	color: black;
	font-weight: bold;
}

.partagez{
	color: black;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-top: 5px;
	margin-left: -100px;
	margin-right: -100px;
	display: inline-block;
}

.continu{
	float: right;
	margin-top: 50px;
	margin-left: -100px;
	margin-right: -100px;
	display: inline-block;
	color: white;
	background-color: red;
}

.black2{
	float: right;
	margin-top: -20px;
	margin-left: -50px;
	margin-right: -300px;
	display: inline-block;
	background-color: black;
	color: black;
}

.white2{
	float: right;
	margin-top: -20px;
	margin-left: -100px;
	margin-right: -500px;
	display: inline-block;
	background-color: white;
	color: white;
}

.class4_2{
	list-style: none;
	float: right;
	margin-top: 5px;
	margin-left: -100px;
	margin-right: -50px;
	display: inline-block;

}

.continu2{
	background-color: lightgrey;
}
